In [1]:
import sys
sys.path.insert(1, r'C:\Users\ewais\Documents\GitHub\tensor-hero\Shared_Functionality\Model_Evaluation')
from model_evaluations import *

m1_pre_sep_path = r'C:\Users\ewais\Documents\GitHub\tensor-hero\Experiments\Generated_Songs\m1_pre_sep'
m4_pre_sep_path = r'C:\Users\ewais\Documents\GitHub\tensor-hero\Experiments\Generated_Songs\m4_pre_sep'
m4_post_sep_path = r'C:\Users\ewais\Documents\GitHub\tensor-hero\Experiments\Generated_Songs\m4_post_sep'

In [3]:
m1_pre_sep = evaluate_model_run(m1_pre_sep_path)
m4_pre_sep = evaluate_model_run(m4_pre_sep_path)
m4_post_sep = evaluate_model_run(m4_post_sep_path)

In [19]:
m4_post_sep.keys()

dict_keys(['freq_saturation', 'freq_table', 'freq_type_table', 'f1', 'precision', 'recall'])

In [22]:
def give_summary(sep):
    print('freq saturation')
    print(sep['freq_saturation'])
    print('f1 : {}'.format(sep['f1']))
    print('precision : {}'.format(sep['precision']))
    print('Recall : {}'.format(sep['recall']))
    print('\n')
    return

give_summary(m4_post_sep)

freq saturation
0.6578458487218227
f1 : 0.026905829596412557
precision : 0.055408970976253295
Recall : 0.017766497461928935

In [12]:
import pandas as pd

def label_freq_type_table(freq_type_table):
    '''
    Takes an unlabeled freq_type_table and applies labels to columns and rows
    for better interpretability
    '''
    row_labels = ['None', 'Single', 'Double', 'Triple', 'Quad', 'Five', 'Open']
    column_labels = ['Type', 'Truth', '% of total (Truth)','Observed', '% of total (Observed)']

    df = pd.DataFrame(columns = column_labels)
    df['Type'] = row_labels
    df['Truth'] = freq_type_table[:,0]
    df['% of total (Truth)'] = freq_type_table[:,1]
    df['Observed'] = freq_type_table[:,2]
    df['% of total (Observed)'] = freq_type_table[:,3]
    df.set_index('Type')
    return df

m1_pre_df = label_freq_type_table(m1_pre_sep['freq_type_table'])
m4_pre_df = label_freq_type_table(m4_pre_sep['freq_type_table'])
m4_post_df = label_freq_type_table(m4_post_sep['freq_type_table'])

In [13]:
m1_pre_df

,Type,Truth,% of total (Truth),Observed,% of total (Observed)
0,None,20547.461538,0.953730,19612.076923,0.911576
1,Single,855.307692,0.040509,2203.307692,0.102101
2,Double,107.384615,0.004800,0.000000,0.000000
3,Triple,20.846154,0.000961,0.000000,0.000000
4,Quad,0.000000,0.000000,0.000000,0.000000
5,Five,0.000000,0.000000,0.000000,0.000000
6,Open,0.000000,0.000000,0.000000,0.000000

In [14]:
m4_pre_df

,Type,Truth,% of total (Truth),Observed,% of total (Observed)
0,None,20547.461538,0.953730,20143.769231,0.934477
1,Single,855.307692,0.040509,692.692308,0.035269
2,Double,107.384615,0.004800,19.769231,0.000764
3,Triple,20.846154,0.000961,43.923077,0.001947
4,Quad,0.000000,0.000000,5.384615,0.000233
5,Five,0.000000,0.000000,0.000000,0.000000
6,Open,0.000000,0.000000,0.230769,0.000008

In [16]:
m4_post_df

,Type,Truth,% of total (Truth),Observed,% of total (Observed)
0,None,20547.461538,0.953730,20387.384615,0.945541
1,Single,855.307692,0.040509,525.000000,0.026529
2,Double,107.384615,0.004800,15.230769,0.000975
3,Triple,20.846154,0.000961,10.153846,0.000549
4,Quad,0.000000,0.000000,2.769231,0.000114
5,Five,0.000000,0.000000,0.000000,0.000000
6,Open,0.000000,0.000000,0.846154,0.000032